# Windows image file caches
#Thumbs.db
#ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

#.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
#Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

config.inc.php
themes/default/css/styles.helvetica-neue.css
themes/default/fonts/Helvetica Neue/
themes/default/images/backgrounds/
images/jpegtran.exe
images/optipng.exe
images/optimize.cmd
images/avatars/taos-100x100.jpg
models/Categories/Single.old.class.php
models/News/Single.old.class.php
images/Thumbs.db
themes/default/images/Thumbs.db
images/avatars/Thumbs.db
images/heroes/Thumbs.db
images/heroes/z-200x70.jpg
images/heroes/z-750x400.jpg
images/heroes/z-750x100.jpg
images/heroes/z-250x100.jpg
images/heroes/z.jpg
