# Windows image file caches
Thumbs.db
#ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

#.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
#Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

config.inc.php
themes/default/css/styles.helvetica-neue.css
themes/default/fonts/Helvetica Neue/
themes/default/images/backgrounds/
models/Categories/Single.old.class.php
models/News/Single.old.class.php
images/*
!images/favicon.ico
images/avatars/*
!images/avatars/index
images/heroes/*
!images/heroes/index