# Windows image file caches
#Thumbs.db
#ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

#.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
#Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

config.inc.php
themes/default/css/styles.helvetica-neue.css
themes/default/fonts/Helvetica Neue/
themes/default/images/backgrounds/
images/jpegtran.exe
images/optipng.exe
images/optimize.cmd
images/avatars/taos-100x100.jpg
images/heroes/mario-kart-8.jpg
images/heroes/mario-kart-8-250x100.jpg
images/heroes/mario-kart-8-750x100.jpg
images/heroes/the-legend-of-zelda-wii-u-250x100.png
images/heroes/mario-kart-8-mise-a-jour-en-vue-250x100.jpg
images/heroes/the-legend-of-zelda-skyward-sword-en-hd-750x100.png
images/heroes/the-legend-of-zelda-wii-u-750x400.png
images/heroes/mario-kart-8-mise-a-jour-en-vue-750x100.jpg
images/heroes/mario-kart-8-mise-a-jour-en-vue.jpg
images/heroes/the-legend-of-zelda-skyward-sword-en-hd.png
images/heroes/mario-kart-8-mise-a-jour-en-vue-200x70.jpg
images/heroes/the-legend-of-zelda-skyward-sword-en-hd-250x100.png
images/heroes/the-legend-of-zelda-wii-u-750x100.png
images/heroes/mario-kart-8-mise-a-jour-en-vue-750x400.jpg
images/heroes/the-legend-of-zelda-skyward-sword-en-hd-750x400.png
images/heroes/the-legend-of-zelda-skyward-sword-en-hd-200x70.png
images/heroes/super-mario-3d-world-est-disponible-200x70.jpg
images/heroes/super-mario-3d-world-est-disponible-750x100.jpg
images/heroes/super-mario-3d-world-est-disponible-250x100.jpg
images/heroes/super-mario-3d-world-est-disponible.jpg
images/heroes/super-mario-3d-world-est-disponible-750x400.jpg
images/heroes/super-mario-3d-world-est-disponible-200x70.png
images/heroes/super-mario-3d-world-est-disponible-750x400.png
images/heroes/super-mario-3d-world-est-disponible-250x100.png
images/heroes/super-mario-3d-world-est-disponible-750x100.png
images/heroes/super-mario-3d-world-est-disponible.png
images/heroes/the-legend-of-zelda-wii-u-200x70.jpg
images/heroes/the-legend-of-zelda-wii-u-750x100.jpg
images/heroes/the-legend-of-zelda-wii-u-250x100.jpg
images/heroes/the-legend-of-zelda-wii-u-750x400.jpg
images/heroes/the-legend-of-zelda-wii-u.jpg
models/Categories/Single.old.class.php
models/News/Single.old.class.php
images/Thumbs.db
themes/default/images/Thumbs.db
images/avatars/Thumbs.db
images/heroes/Thumbs.db